{% extends '../../../base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}

<div  class="pages-title section-padding">
    <div  class="container">
        <div  style="background:#40394a" class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2 style="color:#f4cca4">Change Password</h2>
                    <ul class="text-left">
                        <li><a style="color:#d99879" href="\">Home </a></li>
                        <li style="color:#d99879"><span> // </span>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section style="background:#1C1427" class="section-conten padding-y bg">
    <br><br>
    <span style="font-size:18px"><b> {% include "includes/alerts.html" %} </b></span>
  <div class="container">
	<div class="row">
    {% include "includes/dashboard_slider.html" %}
	<main style="background:#40394A;border-radius:10px" class="col-md-9"><br>
    <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data">
		<article class="card">
		<header class="card-header text-center">
            <strong style="font-size:20px;float:left" class="d-inline-block mr-3">Change Password</strong>
            <input style="float:right;width:20%;color:#1C1427;font-size:18px;font-weight: bold;" type="submit" value="Change" class="btn btn-warning">
        </header>
		<div class="card-body"><br><br><br>
			<div class="row">
			<div class="col-md-12">
					{% csrf_token %}
					<div class="form-group col-md-12">
						<label>Old Password</label>
						<input type="password" name="old_password" class="form-control" required>
					</div>
					<div class="form-group col-md-12">
						<label>New Password</label>
						<input type="password" name="new_password"  class="form-control" required>
					</div>
					<div class="form-group col-md-12">
						<label>Repeat New Password</label>
						<input type="password" name="repeat_new_password"  class="form-control" required>
					</div>
			</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
        </form>
	</main>
</div> <!-- row.// -->
</div>

<br>
</section>


<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}