{% extends '../../../base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block content %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2 style="color:#f4cca4">Chcekout</h2>
                    <ul class="text-left">
                        <li><a style="color:#d99879" href="\">Home </a></li>
                        <li style="color:#d99879"><span> // </span>Chcekout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "includes/alerts.html" %}
<!-- pages-title-end -->
<!-- Checkout content section start -->
<section style="margin-bottom:50;background:#1c1427" class="pages checkout section-padding">
    <div class="container">
        <div class="row">
        <form action="{% url 'orders:payment' %}" method="post">
        {% csrf_token %}
            <div class="col-sm-6">
                <div style="border-radius:20px;" class="main-input single-cart-form padding60">
                    <div class="log-title text-center">
                        <h3><strong style="color:#d99879">Billing Address</strong></h3>
                    </div>
                    <div class="custom-input">
                        
                            <input type="text" name="first_name" placeholder="First Name" required />
                            <input type="text" name="last_name" placeholder="Last Name" required />
                            <input type="text" name="email" placeholder="Email" required />
                            <input type="text" name="phone" placeholder="Phone Number" required />
                            <input type="text" name="city" placeholder="City" required />
                            <input type="text" name="country" placeholder="Country" required />
                            <input type="text" name="state" placeholder="State" required />
                            <div class="custom-mess">
                                <textarea rows="2" placeholder="Address" name="address" required></textarea>
                            </div>
                            <div class="custom-mess">
                                <textarea rows="2" placeholder="Order Notes" name="order_note"></textarea>
                            </div>
                        
                    </div>
                </div><br>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div style="border-radius:10px;" class="padding60">
                    <div class="log-title text-center">
                        <h3><strong style="color:#d99879">Our order</strong></h3>
                    </div>
                    <div class="cart-form-text pay-details table-responsive">
                        <table>
                            <thead>
                                <tr  >
                                    <th style="color:#f4cca4;background:#1c1427;border-radius:10px 0 0 10px;">Product</th>
                                    <td style="color:#f4cca4;background:#1c1427;border-radius:0 10px 10px 0;">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <th>{{cart_item.product.name}} x {{cart_item.quantity}}</th>
                                    <td>${{cart_item.sub_total}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th>Shipping and Handing</th>
                                    <td>${{handing}}</td>
                                </tr>
                                <tr>
                                    <th>Vat</th>
                                    <td>${{vat}}</td>
                                </tr>
                                <tr style="color:#d99879">
                                    <th>Order total</th>
                                    <td>${{order_total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                
                            </tfoot>
                            
                        </table>
                        <div  style="width:100%" class="submit-text">
                        <button href="#" class="btn btn-warning" style="background:#f4cca4;color:#1c1427; width:100% ; text-transform: capitalize;font-size:18px"><b>Place Order</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</section>
{% endblock content %}