
{% load static %}
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'log/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'log/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'log/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'log/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="{% static 'log/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'log/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'log/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="{% static 'log/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'log/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'log/css/main.css' %}">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body >
	<div  class="limiter">
		<div  style="background:#40394a" class="container-login100">
			<div style="width:39%;background:#1c1427" class="wrap-login100">
				<form class="login100-form validate-form" action="{% url 'accounts:login' %}" method="POST">
					{% csrf_token %}
					<span style="color:#f4cca4;font-weight: 800;"  class="login100-form-title p-b-48">
						<span style="color:#d99879">E -</span> S H O P
					</span>
					<span style="color:#f4cca4" class="login100-form-title p-b-26">
						Login
					</span>
					{% include "includes/alerts.html" %}
					<br>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
                    
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>
                    
                    <br><br><br>
                    <span style="font-size:17px" class="txt1">
                        Don’t have an account?
                    </span>

                    <a style="font-size:17px; color:#d99879" class="txt2" href="{% url 'accounts:register' %}">
                        Sign Up
                    </a>
                    <br><hr>
                    
                    <a style="font-size:17px; color:#d99879" class="txt2" href="{% url 'accounts:forget_password' %}">
                        Forget Password?
                    </a>

                    <br><br><hr>
                    <a href="{% url 'shop:home' %}" style="background:#f4cca4;color:#1c1427 " class="btn btn-warning"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;  Back to Home</a>
                    <!--
                    
					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="./register.html">
							Sign Up
						</a>
					</div>
                    -->
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	
<!--===============================================================================================-->
<script src="{% static 'log/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'log/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'log/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'log/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'log/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'log/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'log/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'log/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'log/js/main.js' %}"></script>
</body>
</html>
