{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}
{% block content %}
<!-- header section end -->
        <!-- pages-title-start -->
		<div style="background:#40394a" class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							{% if category_slug != None %}
							<h2 style="color:#f4cca4;text-transform: capitalize;">{{category_slug}}</h2>
							{% else %}
							<h2 style="color:#f4cca4;text-transform: capitalize;">All Products</h2>
							{% endif %}
							<ul class="text-left">
								<li ><a href="\">Home </a></li>
								<li style="color:#f4cca4"><span> // </span>Shop</li>
								{% if category_slug != None %}
								<li style="color:#f4cca4"><span> // </span>{{category_slug}}</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<!-- pages-title-end -->
        <!-- collection section start -->
		
		<!-- collection section end -->
		<!-- product-grid-view content section start -->
		<section style="background:#1c1427"   class="pages products-page section-padding-bottom">
			<div class="container">
				<div class="row"><br>
					<div class="col-xs-12 col-sm-4 col-md-3">
						<div class="sidebar left-sidebar">
							<div style="background:#40394a; color:#d99879;;border-radius:20px 20px 0 0;" class="s-side-text">
								<div class="sidebar-title clearfix text-center">
									<h3 >Categories</h3>
									
								</div>
								<div  class="sidebar-title clearfix">
									<h4 class="floatleft"><a style="font-weight:600;color:#f4cca4"  href="{% url 'shop:shop' %}">All</a></h4>
								</div>
                                {% for category in categories %}
                                <div  class="sidebar-title clearfix">
									<h4 class="floatleft"><a style="font-weight:600;color:#f4cca4"  href="{{ category.get_category_slug_url }}">{{category.name}}</a></h4>
								</div>
                                {% endfor %}
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<div class="right-products">
							<div class="row">
								<div class="col-xs-12">
									<div style="background:#40394a;border-radius:10px;" class="section-title clearfix">
										<ul >
											<li>
												<ul class="nav-view">
													<li class="active"><a data-toggle="tab" href="#grid"> <i style="color:#d99879" class="mdi mdi-view-module"></i> </a></li>
													<li><a data-toggle="tab" href="#list"> <i style="color:#d99879" class="mdi mdi-view-list"></i> </a></li>
												</ul>
											</li>
											<li style="color:#d99879; font-size:18px" class="sort-by floatright">
												{{products_count}} Results
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="tab-content grid-content">
									<div class="tab-pane fade in active text-center" id="grid">
                                        {% for product in products %}
										<div  class="col-xs-12 col-sm-6 col-md-4">
											<div   style="background:#40394a; ;border-radius:15px;" class="single-product">
												<div class="product-img">
													{% if product.discount != 0.00 %}
													<div class="pro-type">
														<span>Discount</span>
													</div>
													{% endif %}
													{% if product.new %}
													<div style="background:#1c1427;color:#f4cca4" class="pro-type">
														<span>New</span>
													</div>
													{% endif %}
													<a href="{{product.get_prodcut_details_url}}"><img style="width:100%; height:350px;;border-radius:15px 15px 0 0;" src="{{product.image.url}}" alt="Product Title" /></a>
													<div class="actions-btn">
														<a style="margin-left:20px" href="{% url 'cart:add_cart' product.id %}"><i class="mdi mdi-cart"></i></a>
														<a href="{{product.get_prodcut_details_url}}"><i class="mdi mdi-eye"></i></a>
													</div>
												</div>
												<div class="product-dsc">
													
													<p><a style="color:#d99879" href="{{product.get_prodcut_details_url}}">{{product.name}}</a></p>
													<span>${{product.price}}</span><br><br>
													<div style="font-size:16px" class="rating-star">
														<span>
														<i class="fa fa-star{% if product.averageRating < 0.5 %}-o{% elif product.averageRating >= 0.5 and product.averageRating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
														<i class="fa fa-star{% if product.averageRating < 1.5 %}-o{% elif product.averageRating >= 1.5 and product.averageRating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
														<i class="fa fa-star{% if product.averageRating < 2.5 %}-o{% elif product.averageRating >= 2.5 and product.averageRating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
														<i class="fa fa-star{% if product.averageRating < 3.5 %}-o{% elif product.averageRating >= 3.5 and product.averageRating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
														<i class="fa fa-star{% if product.averageRating < 4.5 %}-o{% elif product.averageRating >= 4.5 and product.averageRating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
														&nbsp;<span style="font-size:16px">(<b>{{product.countReview}}</b> reviews)</span>
														</span>
													</div>
													
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
									<div class="tab-pane fade in" id="list">
                                        {% for product in products %}
										<div class="col-xs-12">
											<div class="single-list-view">
												<div style="width:100%; height:350px" class="row">
													<div class="col-xs-12 col-md-4">
														<div class="list-img">
															<div class="product-img">
															{% if product.discount != 0.00 %}
															<div class="pro-type">
																<span>Discount</span>
															</div>
															{% endif %}
																<a href="{{product.get_prodcut_details_url}}"><img style="width:100%; height:350px; border-radius:20px 0 0 20px;" src="{{product.image.url}}" alt="Product Title" /></a>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-md-8">
														<div style="height:350px; border-radius:0 20px 20px 0;"  class="list-text">
															
															<div style="font-size:16px" class="rating-star floatright">
																<span>
																<i class="fa fa-star{% if product.averageRating < 0.5 %}-o{% elif product.averageRating >= 0.5 and product.averageRating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if product.averageRating < 1.5 %}-o{% elif product.averageRating >= 1.5 and product.averageRating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if product.averageRating < 2.5 %}-o{% elif product.averageRating >= 2.5 and product.averageRating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if product.averageRating < 3.5 %}-o{% elif product.averageRating >= 3.5 and product.averageRating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if product.averageRating < 4.5 %}-o{% elif product.averageRating >= 4.5 and product.averageRating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
																&nbsp;<span style="font-size:16px">(<b>{{product.countReview}}</b> reviews)</span>
																</span>
															</div>
															<h3 style="color:#d99879">{{product.name}}</h3>
															<h5>{% if product.discount != 0.00 %}<del>${{product.discount}}</del>{% endif %} ${{product.price}}</h5>
															<p>{{product.description}}.</p>
															<div class="list-btn">

																<a href="{{product.get_prodcut_details_url}}" class="btn btn-warning" style="background:none; color:#f4cca4">View Details <i class="mdi mdi-eye"></i></a>
																<a href="{% url 'cart:add_cart' product.id %}" class="btn " style="color:#1c1427;background:#f4cca4">add to cart <i class="mdi mdi-cart-outline"></i></a>
																
															</div>
														</div>
													</div>
												</div>
											</div>
											
										</div>
                                        {% endfor %}
									</div>
								</div>
							</div>
							<div class="row">
								<div  class="col-sm-12">
									<div style="background:#40394a" class="pagnation-ul">
									{% if products.has_other_pages %}
										<ul class="clearfix">
											{% if products.has_previous %}
											<li><a href="?page={{products.previous_page_number}}"><i style="color:#f4cca4" class="mdi mdi-arrow-left-bold"></i></a></li>
											{% else %}
											<li><a href="#"><i class="mdi mdi-arrow-left-bold"></i></a></li>
											{% endif %}
											
											{% for x in products.paginator.page_range %}
												{% if products.number == x %}
												<li ><a href="#">{{x}}</a></li>
												{% else %}
												<li><a  style="color:#f4cca4" href="?page={{x}}">{{x}}</a></li>
												{% endif %}
											{% endfor %}
											
											{% if products.has_next %}
											<li ><a href="?page={{products.next_page_number}}"><i style="color:#f4cca4" class="mdi mdi-arrow-right-bold"></i></a></li>
											{% else %}
											<li><a  href="#"><i class="mdi mdi-arrow-right-bold"></i></a></li>
											{% endif %}
										</ul>
									{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
{% endblock content %}